Bkash Payment system with N8N
{
  "nodes": [
    {
      "parameters": {},
      "id": "acaa71aa-7e41-4302-bfba-91af85f41f12",
      "name": "Manual Trigger - Create Payment",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/token/grant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "username",
              "value": "sandboxTokenizedUser02"
            },
            {
              "name": "password",
              "value": "sandboxTokenizedUser02@12345"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_key",
              "value": "4f6o0cjiki2rfm34kfdadl1eqq"
            },
            {
              "name": "app_secret",
              "value": "2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b"
            }
          ]
        },
        "options": {}
      },
      "id": "3b8dff24-6b31-4d1b-bce1-fc564eef0b90",
      "name": "1. Grant Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.id_token }}"
            },
            {
              "name": "X-APP-Key",
              "value": "4f6o0cjiki2rfm34kfdadl1eqq"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "0011"
            },
            {
              "name": "payerReference",
              "value": "01770618575"
            },
            {
              "name": "callbackURL",
              "value": "https://siam.srv1209057.hstgr.cloud/webhook/bkash-callback"
            },
            {
              "name": "amount",
              "value": "1000"
            },
            {
              "name": "currency",
              "value": "BDT"
            },
            {
              "name": "intent",
              "value": "sale"
            },
            {
              "name": "merchantInvoiceNumber",
              "value": "={{ 'INV' + Date.now() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5cb7b3c-154f-45eb-8c18-fe599ba27f77",
      "name": "2. Create Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        32
      ]
    },
    {
      "parameters": {
        "path": "bkash-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a9560b2f-3796-4c01-b221-7cb2c801286a",
      "name": "Webhook - Payment Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        400
      ],
      "webhookId": "bkash-payment-callback"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/token/grant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "username",
              "value": "sandboxTokenizedUser02"
            },
            {
              "name": "password",
              "value": "sandboxTokenizedUser02@12345"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_key",
              "value": "4f6o0cjiki2rfm34kfdadl1eqq"
            },
            {
              "name": "app_secret",
              "value": "2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b"
            }
          ]
        },
        "options": {}
      },
      "id": "4af1c0d2-ca68-44d5-8800-f1720a7765c9",
      "name": "3. Grant Token (For Execute)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.id_token }}"
            },
            {
              "name": "X-APP-Key",
              "value": "4f6o0cjiki2rfm34kfdadl1eqq"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "paymentID",
              "value": "={{ $('Webhook - Payment Callback').item.json.query.paymentID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cbe8539d-253f-43c0-9932-2f6191507c2d",
      "name": "4. Execute Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "eec49130-2b36-42ea-9f89-9971d02a1b63",
              "leftValue": "={{ $json.statusMessage }}",
              "rightValue": "Successful",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "28a34ac3-405e-448c-800a-48949466f3ac",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"statusCode\": $json.statusCode,\n  \"statusMessage\": $json.statusMessage,\n  \"message\": \"Payment failed or cancelled\"\n} }}",
        "options": {}
      },
      "id": "d2e418ca-144d-42ae-a348-732f087dc2d4",
      "name": "Failure Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "payment-url",
              "name": "bkashURL",
              "value": "={{ $json.bkashURL }}",
              "type": "string"
            },
            {
              "id": "payment-id",
              "name": "paymentID",
              "value": "={{ $json.paymentID }}",
              "type": "string"
            },
            {
              "id": "amount",
              "name": "amount",
              "value": "={{ $json.amount }}",
              "type": "string"
            },
            {
              "id": "invoice",
              "name": "merchantInvoiceNumber",
              "value": "={{ $json.merchantInvoiceNumber }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Redirect user to bkashURL for payment",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3d5fdf0a-e521-45be-85d9-d7e552d2e8a1",
      "name": "Format Payment Link Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"paymentID\": $json.paymentID,\n  \"trxID\": $json.trxID,\n  \"amount\": $json.amount,\n  \"transactionStatus\": $json.transactionStatus,\n  \"merchantInvoiceNumber\": $json.merchantInvoiceNumber,\n  \"paymentExecuteTime\": $json.paymentExecuteTime,\n  \"message\": \"Payment completed successfully!\"\n} }}",
        "options": {}
      },
      "id": "7d8284ea-bf61-41ea-a27b-c5c2ed5bf3bf",
      "name": "Success Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        304
      ]
    },
    {
      "parameters": {
        "content": "## Here The Details Video Guide\n**Double click** to edit me. [https://youtu.be/ZhzTqCw6hVo)\n\n@[youtube](ZhzTqCw6hVo)",
        "height": 592,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        32
      ],
      "typeVersion": 1,
      "id": "eaf3ff9a-d0bb-4b12-a735-ec2f7a27fe66",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Manual Trigger - Create Payment": {
      "main": [
        [
          {
            "node": "1. Grant Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Grant Token": {
      "main": [
        [
          {
            "node": "2. Create Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Create Payment": {
      "main": [
        [
          {
            "node": "Format Payment Link Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Payment Callback": {
      "main": [
        [
          {
            "node": "3. Grant Token (For Execute)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Grant Token (For Execute)": {
      "main": [
        [
          {
            "node": "4. Execute Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Execute Payment": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Success Response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "96d3554cd55e1787c9069769b5bd6a9378da8275fca79b5477816b690652dbe7"
  }
}
