Doctor Appointment System with Stripe payment system
{
  "nodes": [
    {
      "parameters": {
        "content": "## Here The Details Video Guide\n**Double click** to edit me. [https://youtu.be/moS6nFMaJGQ?si=oCnmFVVruG0wU7O6)\n\n@[youtube](moS6nFMaJGQ)",
        "height": 480,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4864,
        1856
      ],
      "typeVersion": 1,
      "id": "86e9f117-a1c9-449f-9a42-c573332c0410",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Role: Telegram assistant for booking, viewing, rescheduling, canceling appointments.\n\nSecurity: Always filter by user_id = message.chat.id. Never show others’ data.\n\nMENU\n1 Book\n2 View\n3 Reschedule\n4 Cancel\n\nBOOK\n\nPatients: get list → if none, ask name/age/gender/phone → save.\n\nDates: next 7 days; use working_hours + not_available; remove fully booked days.\n\nTimes: 30-min slots; remove booked + blocked; remove past slots.\n\nPayment: 1 Online / 2 Cash.\n\nConfirm: add appointment → show ID + details.\n\n## add all data in \"add appointments \" tools \n\n\nVIEW\n\nGet user appointments → future only.\n\nIf none: “No upcoming appointments”.\n\nRESCHEDULE\n\nList user future appts → pick → choose new date/time (same booking logic).\n\nSave via reschedule tool → show old vs new.\n\nCANCEL\n\nList user future appts → pick → confirm.\n\nCancel tool → show success.\n\nRULES\n\nTrack flow state (step, patient, date, time).\n\nInvalid → show “❌ Invalid. Reply with {options}”.\n\nShort, clear, emoji-friendly.\n\nToday date - {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5248,
        1408
      ],
      "id": "8a839b87-69cd-469a-b06a-2f9692189dd2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 420628766,
          "mode": "list",
          "cachedResultName": "Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=420628766"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -5504,
        1632
      ],
      "id": "6b500395-c69f-4b40-9de2-4ddd036cd5c1",
      "name": "Doctor Config"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1780683497,
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1780683497"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -5376,
        1632
      ],
      "id": "21e6e81d-4caa-4830-b6fb-02d85412bd0b",
      "name": "Get Patient List"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1780683497,
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1780683497"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $now.toMillis() }}_{{ Math.random().toString(36).substr(2, 9) }}",
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "age": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('age', ``, 'string') }}",
            "gender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gender', ``, 'string') }}",
            "whatsapp_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('whatsapp_number', ``, 'string') }}",
            "user_id": "={{ $json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -5248,
        1632
      ],
      "id": "a46a4003-5501-4932-94f3-e17439f7f038",
      "name": "Add Patients"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1899638228"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -5120,
        1632
      ],
      "id": "2c81baae-7b49-4513-a4ad-4a4ad04da3b7",
      "name": "Get User Appointments"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1899638228"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "whatsapp_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('whatsapp_number', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}",
            "payment_method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_method', ``, 'string') }}",
            "payment_status": "painding",
            "status": "confirmed",
            "user_id": "={{ $json.message.chat.id }}",
            "appointment_id": "={{ $now.toMillis() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -4992,
        1632
      ],
      "id": "5afccca4-c60a-49d6-b701-8870eadb125b",
      "name": "Add Appoinments"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1899638228"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -4864,
        1632
      ],
      "id": "b169ed95-cd59-4780-bc56-2c8fd192c3f8",
      "name": "Get All Appointments"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1899638228"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "user_id": "={{ $json.message.chat.id }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -4736,
        1632
      ],
      "id": "a3a6b68d-b6e0-4628-b729-cc513bff6821",
      "name": "Reschadule Appoinments"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1899638228"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "user_id": "={{ $json.message.chat.id }}",
            "status": "canceled"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -4608,
        1632
      ],
      "id": "f9e444ef-a535-4cd8-b88e-6865955e5936",
      "name": "Cancel Appoinments"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1899638228"
        },
        "event": "rowAdded",
        "options": {
          "dateTimeRenderOption": "FORMATTED_STRING"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -5984,
        1840
      ],
      "id": "3d26a947-2f2a-4d61-b9d1-d5bd9b25d10f",
      "name": "Google Sheets Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb4f3fdc-c3b8-448d-ae5a-7ac54a0d5bae",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "Online Payment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "af22481a-5f32-4069-9a9d-ce7c85a7e82e",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "online payment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "dbd73352-15b9-4483-b199-7dd160ea9919",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "stripe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6c7860e7-583b-4936-9c17-858984f901d1",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "Stripe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "22169dba-ebc9-44bd-aaed-2d6db7d30e99",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "online",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0ffdee5a-4142-4735-87ba-6a2877c6694f",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "Online",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5760,
        1840
      ],
      "id": "58a2a74b-fecf-426c-b2b2-8de614b43fac",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type ",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Authorization",
              "value": "Bearer Your Api Token Here"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "metadata[appointmentid]",
              "value": "={{ $('Google Sheets Trigger').item.json.appointment_id }}"
            },
            {
              "name": "line_items[0][price_data][product_data][name]",
              "value": "Appointment Booking"
            },
            {
              "name": "line_items[0][quantity]",
              "value": "1"
            },
            {
              "name": "line_items[0][price_data][unit_amount]",
              "value": "20000"
            },
            {
              "name": "line_items[0][price_data][currency]",
              "value": "usd"
            },
            {
              "name": "mode",
              "value": "payment"
            },
            {
              "name": "success_url",
              "value": "https://t.me/risosi_doctor_appointment_bot"
            },
            {
              "name": "cancel_url",
              "value": "https://t.me/risosi_doctor_appointment_bot"
            },
            {
              "name": "metadata[user_id]",
              "value": "={{ $('Google Sheets Trigger').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5536,
        1840
      ],
      "id": "8f112280-8c0b-4b6d-a384-9b3c5520cd47",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "events": [
          "payment_intent.created"
        ]
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        -5984,
        2064
      ],
      "id": "a1d443ae-ee00-4ec9-90b3-ad3f86325b7c",
      "name": "Stripe Trigger",
      "webhookId": "15277f1e-c533-4b57-a61c-b0b0887d999d"
    },
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type ",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Authorization",
              "value": "Bearer Your Api Token"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payment_intent",
              "value": "={{ $json.data.object.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5760,
        2064
      ],
      "id": "01e48f89-e227-48a7-848e-49013b161576",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1899638228"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payment_status": "paid",
            "status": "confirmed",
            "stripe_payment_intent": "={{ $json.data[0].payment_intent }}",
            "appointment_id": "={{ $json.data[0].metadata.appointmentid }}",
            "user_id": "={{ $json.data[0].metadata.user_id }}"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5536,
        2064
      ],
      "id": "c7ddde1a-8fbd-4193-a483-fc6721b36aa9",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5223e7a-ca67-4282-be3d-15435dc126b7",
              "leftValue": "={{ $json.status.toLowerCase() }}",
              "rightValue": "canceled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5760,
        2480
      ],
      "id": "3d2476c2-86fa-4381-a8c0-9a1e67eb3b63",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b337c5f-7d80-4dc2-aa1e-d168603e8af1",
              "leftValue": "={{ $json.stripe_payment_intent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5536,
        2480
      ],
      "id": "3bd053ad-d1d6-4d32-945b-e129cad0b70e",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yynnD3gkHZxNUpC-8Vf4uno8iw70FqQYB5rREImVE4c/edit#gid=1899638228"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payment_status": "Refunded",
            "appointment_id": "={{ $('Google Sheets Trigger1').item.json.appointment_id }}"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5088,
        2288
      ],
      "id": "3e980312-5df5-468a-a353-fce484106168",
      "name": "Update row in sheet1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1899638228"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -5984,
        2480
      ],
      "id": "c049de54-3864-4529-8dbd-920790e8357e",
      "name": "Google Sheets Trigger1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/refunds",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type ",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Authorization",
              "value": "Bearer Your API Key"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payment_intent",
              "value": "={{ $('Google Sheets Trigger1').item.json.stripe_payment_intent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5312,
        2384
      ],
      "id": "ed4ac675-7d46-40c2-9484-36781e40b325",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5984,
        2912
      ],
      "id": "86b6e363-21f8-478b-b496-72eea41611de",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Readable date'] }}",
        "options": {
          "systemMessage": "=You are an AI assistant responsible for sending WhatsApp reminders for scheduled appointments. Follow the steps below to perform your task accurately:\n\nFetch Appointments:\n\nAccess the designated Google Sheet containing appointment records.\n\nRetrieve all entries from the sheet.\n\nGet the today's date and time from system\n\nFilter Appointments:\n\nIdentify all appointments where:\n\nThe appointment date matches today's date.\n\nThe status is either \"Pending\" or \"Confirmed\".\n\nSend telegram Reminder:\n\nFor each matching appointment, send a telegram message to the contact number listed in the appointment.\n\nThe reminder message should include:\n\nRecipient’s name (if available),\n\nAppointment date and time,\n\nMessage Template Example:\n\nHello [Name], this is a reminder for your appointment scheduled today at [Time].\n\n# telegram chat id is \"patient_id\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5712,
        2912
      ],
      "id": "c329dfd5-0776-4320-ad19-14f72bdb70a2",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5760,
        3136
      ],
      "id": "80f367e7-3799-4aa3-b1e4-9f30475f6e43",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NsSq25McAXYKyQjGj8Ktds8WExKhB9Gc6lAEXtkVJlI/edit#gid=1899638228"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -5632,
        3136
      ],
      "id": "3304a774-a69a-4211-aa9a-117c3a32c454",
      "name": "Get row(s) in sheet in Google Sheets"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -5984,
        1520
      ],
      "id": "3fb87b0f-a68f-40e8-93cb-21dc4168b199",
      "name": "Telegram Trigger",
      "webhookId": "e5d8f491-592b-4f84-a008-8a7e123fe110"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4400,
        1520
      ],
      "id": "f6add2ab-2319-4a72-a436-be228c219ddd",
      "name": "Send a text message",
      "webhookId": "81b11c0c-0ae1-4111-9900-bd460b44ec7d"
    },
    {
      "parameters": {
        "chatId": "={{ $('Google Sheets Trigger').item.json.user_id }}",
        "text": "=Your appointment is reserved! ✅\n\nPlease click the button below to complete payment.\n\n⏰ Payment must be completed within 30 minutes to confirm your booking.\n\nThank you!",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "complete payment",
                    "additionalFields": {
                      "url": "={{ $json.url }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -5312,
        1840
      ],
      "id": "f0188e32-f38d-4174-9640-c0d542db82de",
      "name": "Send a text message1",
      "webhookId": "f2bfeb3c-e681-40f7-90eb-9359123c045d"
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "=We Received Your Payments Thanks . Your Appointment ID is  {{ $json.appointment_id }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -5312,
        2064
      ],
      "id": "96af6cce-2d36-4db7-bec6-58b73cbe7702",
      "name": "Send a text message2",
      "webhookId": "f2bfeb3c-e681-40f7-90eb-9359123c045d"
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "=Your Appoinment is Cancel.\n\nThis is Your Appointment ID {{ $('Google Sheets Trigger1').item.json.appointment_id }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -5312,
        2576
      ],
      "id": "5c0d01d5-2033-46fd-a6ff-0629bb59efe2",
      "name": "Send a text message3",
      "webhookId": "f2bfeb3c-e681-40f7-90eb-9359123c045d"
    },
    {
      "parameters": {
        "chatId": "={{ $('Google Sheets Trigger1').item.json.user_id }}",
        "text": "=Your Appoinment is Cancel . Your Amount has been refund initiated\n\nThis is Your Appointment ID {{ $('Google Sheets Trigger1').item.json.appointment_id }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -5088,
        2480
      ],
      "id": "cdb37910-2374-4a0e-ad57-d62b4a000552",
      "name": "Send a text message4",
      "webhookId": "f2bfeb3c-e681-40f7-90eb-9359123c045d"
    },
    {
      "parameters": {
        "chatId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chat_ID', ``, 'string') }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -5504,
        3136
      ],
      "id": "12fa2ef1-2bd4-4e3f-a639-7d018083ad96",
      "name": "Send a text message in Telegram",
      "webhookId": "64a2f4de-c714-4d69-b27e-57708c6f612d"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -5760,
        1632
      ],
      "id": "cfe6af14-bee3-4dc7-9af7-5b8e29961e53",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -5632,
        1632
      ],
      "id": "2e34e02f-cc4d-40a0-8621-8e427ed2087f",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doctor Config": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient List": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Patients": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User Appointments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Appoinments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get All Appointments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reschadule Appoinments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appoinments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7554c494529940c4340cf7385a6a9837e822037d3d45b7845a3aabb5730f5c3"
  }
}
