Linkedin all Type Post
{
  "nodes": [
    {
      "parameters": {
        "content": "## Here The Details Video Guide\n**Double click** to edit me. [https://youtu.be/hrTV4hHY5A8?si=oRBco7lEMKBWVQF7)\n\n@[youtube](hrTV4hHY5A8)",
        "height": 480,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        2560
      ],
      "typeVersion": 1,
      "id": "6a92ac16-2140-4c95-8ed9-59797c5f2ec1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5a",
              "name": "url",
              "value": "=",
              "type": "string"
            },
            {
              "id": "7835eb6c-bd4e-4624-b5e5-65ec4569dae4",
              "name": "post-type",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        2992
      ],
      "id": "57b48f82-52b9-49a2-a6d8-c25b94f0394c",
      "name": "Configure Post Settings1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab388a77-1660-4a64-ba58-bc405444dbd5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be8816f5-ae68-48c3-869e-bc67078298d8",
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "article",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Article"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abb2fd36-d2c5-479d-bb6e-e201a6d20d05",
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "article-image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Article Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "663bacc8-ceeb-4f81-b058-c379eaf6e717",
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99441a51-906e-469a-b98e-64aa43c996ba",
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1264,
        2944
      ],
      "id": "488f5150-9d8d-4885-ba8c-d1d0759bee7d",
      "name": "Smart Content Router1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"This is my automate API Post Contact Me How You Can automated Post regularly now\"\n            },\n            \"shareMediaCategory\": \"NONE\"   \n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        2224
      ],
      "id": "a87f6d5b-e31e-416b-a4c8-6dc067b1e05d",
      "name": "Text Post1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Learning more about LinkedIn by reading the LinkedIn Blog!\"\n            },\n            \"shareMediaCategory\": \"ARTICLE\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Hey This is Siam\"\n                    },\n                    \"originalUrl\": \"https://youtu.be/MnhpE1ERmSE?si=TxirFvgoqBihXpYi\",\n                    \"title\": {\n                        \"text\": \"Automate All \"\n                    }\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        2608
      ],
      "id": "c42dd0fa-a1d1-41cf-8dcd-38de2ab3cdbb",
      "name": "Article Post1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Let's Automate All Instagram Post Type\"\n            },\n            \"shareMediaCategory\": \"ARTICLE\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Now you can Automate All Instagram Post\"\n                    },\n                    \"originalUrl\": \"https://youtu.be/MnhpE1ERmSE?si=TxirFvgoqBihXpYi\",\n                    \"title\": {\n                        \"text\": \"Hi All\"\n                    },\n                    \"thumbnails\": [{\n                        \"url\": \"{{ $('Smart Content Router1').item.json.url }}\"\n                    }]\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        2992
      ],
      "id": "989961b1-5ded-43d3-8919-e4c468938ec2",
      "name": "Article with Image1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"registerUploadRequest\": {\n        \"recipes\": [\n            \"urn:li:digitalmediaRecipe:feedshare-image\"\n        ],\n        \"owner\": \"urn:li:person:{{ $json.sub }}\",\n        \"serviceRelationships\": [\n            {\n                \"relationshipType\": \"OWNER\",\n                \"identifier\": \"urn:li:userGeneratedContent\"\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        3184
      ],
      "id": "ea534b88-ee8d-4816-a75c-6fc1e5ccd58b",
      "name": "Register Image Upload1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"registerUploadRequest\": {\n        \"recipes\": [\n            \"urn:li:digitalmediaRecipe:feedshare-video\"\n        ],\n        \"owner\": \"urn:li:person:{{ $json.sub }}\",\n        \"serviceRelationships\": [\n            {\n                \"relationshipType\": \"OWNER\",\n                \"identifier\": \"urn:li:userGeneratedContent\"\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        3568
      ],
      "id": "77ec26c3-c809-4a70-8f66-9c56d8e80a6f",
      "name": "Register Video Upload1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.value.uploadMechanism[\"com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest\"].uploadUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        3184
      ],
      "id": "dc085547-2282-4348-9402-0184db26a818",
      "name": "Upload Image File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $('Get LinkedIn UserInfo9').item.json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Now this is how we automate the image posting\"\n            },\n            \"shareMediaCategory\": \"IMAGE\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Center stage!\"\n                    },\n                    \"media\": \"{{ $('Register Image Upload1').item.json.value.asset }}\",\n                    \"title\": {\n                        \"text\": \"Post Automated By N8N\"\n                    }\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}\n\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        3184
      ],
      "id": "3a1d9112-21c0-41f1-9382-9e7bba706944",
      "name": "Linkedin Image Post1"
    },
    {
      "parameters": {
        "person": "r68YpV8Bz5",
        "text": "Hello ....",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1712,
        2416
      ],
      "id": "4731e988-69d3-4908-ad23-0ad1d330c41a",
      "name": "Text Post Linkedin1"
    },
    {
      "parameters": {
        "person": "=r68YpV8Bz5",
        "text": "Automated post",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "title": "Automate All linkedin Post  Post"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1936,
        3376
      ],
      "id": "50941e33-9849-44f8-ad67-19aa5e65087e",
      "name": "Image Post Linkedin1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Smart Content Router1').item.json.url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1712,
        3376
      ],
      "id": "513cf858-4c1f-4aa3-9c96-9bdd66fca832",
      "name": "Download file2"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        2320
      ],
      "id": "9ed75f9e-abdf-4f4a-8754-c8a1bbd88f35",
      "name": "Get LinkedIn UserInfo5"
    },
    {
      "parameters": {
        "person": "r68YpV8Bz5",
        "text": "Automated post",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {
          "originalUrl": "https://media.licdn.com/dms/image/v2/D4D03AQHihKfb5COtMA/profile-displayphoto-scale_100_100/B4DZmaxR8sH0Ac-/0/1759238234672?e=1767225600&v=beta&t=1YI82v_BaYY11-f3mLOItb4UfuTAf-LQtonvHAvuGUk",
          "title": "siam"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1712,
        2800
      ],
      "id": "dd55c9c1-02bc-4ad9-985d-1a8105afbcc2",
      "name": "Airticle Post1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Smart Content Router1').item.json.url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1936,
        3184
      ],
      "id": "402055f2-0e7c-4365-bfa9-912843332f7e",
      "name": "Download file3"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        2704
      ],
      "id": "981ffc00-5854-46de-a62b-ead7d660d4d4",
      "name": "Get LinkedIn UserInfo6"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        2992
      ],
      "id": "d7790634-8627-4190-a308-272d1e8fbb24",
      "name": "Get LinkedIn UserInfo7"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        3568
      ],
      "id": "343a697e-e45c-45a0-8d03-8229e42acd12",
      "name": "Get LinkedIn UserInfo8"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        3280
      ],
      "id": "085cd627-5a12-49d6-9678-72dbad408c8d",
      "name": "Get LinkedIn UserInfo9"
    },
    {
      "parameters": {
        "url": "={{ $('Smart Content Router1').item.json.url }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        3568
      ],
      "id": "a3bf7878-d2a8-4c13-9cfa-5586beade189",
      "name": "Download Video1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        3568
      ],
      "id": "b7c22db0-7ce7-4f4c-813e-b6c6498867bd",
      "name": "Upload Video File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $('Get LinkedIn UserInfo8').item.json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Now this is how we automate the Video posting\"\n            },\n            \"shareMediaCategory\": \"VIDEO\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Center stage!\"\n                    },\n                    \"media\": \"{{ $('Register Video Upload1').item.json.value.asset }}\",\n                    \"title\": {\n                        \"text\": \"I don't know where this text come\"\n                    }\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        3712
      ],
      "id": "283b6021-2214-44fd-a1c1-da30c1967172",
      "name": "Linkedin Video Post1"
    }
  ],
  "connections": {
    "Configure Post Settings1": {
      "main": [
        [
          {
            "node": "Smart Content Router1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Content Router1": {
      "main": [
        [
          {
            "node": "Get LinkedIn UserInfo5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LinkedIn UserInfo6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LinkedIn UserInfo7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LinkedIn UserInfo9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LinkedIn UserInfo8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Image Upload1": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Video Upload1": {
      "main": [
        [
          {
            "node": "Download Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image File1": {
      "main": [
        [
          {
            "node": "Linkedin Image Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Image Post Linkedin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo5": {
      "main": [
        [
          {
            "node": "Text Post1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text Post Linkedin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Upload Image File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo6": {
      "main": [
        [
          {
            "node": "Article Post1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airticle Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo7": {
      "main": [
        [
          {
            "node": "Article with Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo8": {
      "main": [
        [
          {
            "node": "Register Video Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo9": {
      "main": [
        [
          {
            "node": "Register Image Upload1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video1": {
      "main": [
        [
          {
            "node": "Upload Video File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video File1": {
      "main": [
        [
          {
            "node": "Linkedin Video Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7554c494529940c4340cf7385a6a9837e822037d3d45b7845a3aabb5730f5c3"
  }
}
