Linkedin all Type Post
{
  "nodes": [
    {
      "parameters": {
        "content": "## Here The Details Video Guide\n**Double click** to edit me. [https://youtu.be/hrTV4hHY5A8?si=oRBco7lEMKBWVQF7)\n\n@[youtube](hrTV4hHY5A8)",
        "height": 480,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        -448
      ],
      "typeVersion": 1,
      "id": "86e9f117-a1c9-449f-9a42-c573332c0410",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5a",
              "name": "url",
              "value": "=",
              "type": "string"
            },
            {
              "id": "7835eb6c-bd4e-4624-b5e5-65ec4569dae4",
              "name": "post-type",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -16
      ],
      "id": "c4f13ba4-f84d-4a3b-b3e5-7612ea76e69f",
      "name": "Configure Post Settings"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab388a77-1660-4a64-ba58-bc405444dbd5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be8816f5-ae68-48c3-869e-bc67078298d8",
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "article",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Article"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abb2fd36-d2c5-479d-bb6e-e201a6d20d05",
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "article-image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Article Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "663bacc8-ceeb-4f81-b058-c379eaf6e717",
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99441a51-906e-469a-b98e-64aa43c996ba",
                    "leftValue": "={{ $json['post-type'] }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        832,
        -64
      ],
      "id": "1199c8d9-24da-42ff-9ac0-19b40f02efb3",
      "name": "Smart Content Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"This is my automate API Post Contact Me How You Can automated Post regularly now\"\n            },\n            \"shareMediaCategory\": \"NONE\"   \n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -784
      ],
      "id": "d1d4325e-471a-4e39-8f23-1fb293afd283",
      "name": "Text Post"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Learning more about LinkedIn by reading the LinkedIn Blog!\"\n            },\n            \"shareMediaCategory\": \"ARTICLE\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Hey This is Siam\"\n                    },\n                    \"originalUrl\": \"https://youtu.be/MnhpE1ERmSE?si=TxirFvgoqBihXpYi\",\n                    \"title\": {\n                        \"text\": \"Automate All \"\n                    }\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -400
      ],
      "id": "19a5bdd7-b00e-4dd4-8e6f-348b1476a379",
      "name": "Article Post"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Let's Automate All Instagram Post Type\"\n            },\n            \"shareMediaCategory\": \"ARTICLE\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Now you can Automate All Instagram Post\"\n                    },\n                    \"originalUrl\": \"https://youtu.be/MnhpE1ERmSE?si=TxirFvgoqBihXpYi\",\n                    \"title\": {\n                        \"text\": \"Hi All\"\n                    },\n                    \"thumbnails\": [{\n                        \"url\": \"{{ $('Smart Content Router').item.json.url }}\"\n                    }]\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -16
      ],
      "id": "f50a49af-c32a-400a-b888-646fd2cfdb3b",
      "name": "Article with Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"registerUploadRequest\": {\n        \"recipes\": [\n            \"urn:li:digitalmediaRecipe:feedshare-image\"\n        ],\n        \"owner\": \"urn:li:person:{{ $json.sub }}\",\n        \"serviceRelationships\": [\n            {\n                \"relationshipType\": \"OWNER\",\n                \"identifier\": \"urn:li:userGeneratedContent\"\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        176
      ],
      "id": "97aa246e-af66-4969-93d2-dfc63d3c22d1",
      "name": "Register Image Upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"registerUploadRequest\": {\n        \"recipes\": [\n            \"urn:li:digitalmediaRecipe:feedshare-video\"\n        ],\n        \"owner\": \"urn:li:person:{{ $json.sub }}\",\n        \"serviceRelationships\": [\n            {\n                \"relationshipType\": \"OWNER\",\n                \"identifier\": \"urn:li:userGeneratedContent\"\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        560
      ],
      "id": "b323dc7c-cbd0-435a-85dc-c3572c665b3e",
      "name": "Register Video Upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.value.uploadMechanism[\"com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest\"].uploadUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        176
      ],
      "id": "b58003b5-65c9-4d82-be11-6efe1c1d6b92",
      "name": "Upload Image File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $('Get LinkedIn UserInfo4').item.json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Now this is how we automate the image posting\"\n            },\n            \"shareMediaCategory\": \"IMAGE\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Center stage!\"\n                    },\n                    \"media\": \"{{ $('Register Image Upload').item.json.value.asset }}\",\n                    \"title\": {\n                        \"text\": \"Post Automated By N8N\"\n                    }\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}\n\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        176
      ],
      "id": "66f8ecf8-0734-47a4-9dea-c55e63cf7e58",
      "name": "Linkedin Image Post"
    },
    {
      "parameters": {
        "person": "r68YpV8Bz5",
        "text": "Hello ....",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1280,
        -592
      ],
      "id": "2b01932d-da72-4c7b-993e-281576e42f5a",
      "name": "Text Post Linkedin"
    },
    {
      "parameters": {
        "person": "=r68YpV8Bz5",
        "text": "Automated post",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "title": "Automate All linkedin Post  Post"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1504,
        368
      ],
      "id": "de367f89-2940-41a5-a566-a151ce58d015",
      "name": "Image Post Linkedin"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Smart Content Router').item.json.url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        368
      ],
      "id": "b4136c86-bb6c-4c41-bd1b-b7698d3dccf8",
      "name": "Download file"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -688
      ],
      "id": "e07f9016-782d-4cd9-8f6b-6ad13b35ea64",
      "name": "Get LinkedIn UserInfo"
    },
    {
      "parameters": {
        "person": "r68YpV8Bz5",
        "text": "Automated post",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {
          "originalUrl": "https://media.licdn.com/dms/image/v2/D4D03AQHihKfb5COtMA/profile-displayphoto-scale_100_100/B4DZmaxR8sH0Ac-/0/1759238234672?e=1767225600&v=beta&t=1YI82v_BaYY11-f3mLOItb4UfuTAf-LQtonvHAvuGUk",
          "title": "siam"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1280,
        -208
      ],
      "id": "8ff44ed7-4f93-47a5-a8bd-3e1bd25ef457",
      "name": "Airticle Post"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Smart Content Router').item.json.url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        176
      ],
      "id": "2697de8b-5ca0-43ab-b0ad-ee7e35bc77a4",
      "name": "Download file1"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -304
      ],
      "id": "3b09059e-1eb4-4c76-9b0e-ce67dfcd43af",
      "name": "Get LinkedIn UserInfo1"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -16
      ],
      "id": "e90747f7-b41c-4fa3-8d75-2f13e174c96b",
      "name": "Get LinkedIn UserInfo2"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        560
      ],
      "id": "ee86f09e-8843-44ae-bc86-d2f2bac0112f",
      "name": "Get LinkedIn UserInfo3"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        272
      ],
      "id": "1d35003f-e9d5-4408-8bb0-ce545b84db55",
      "name": "Get LinkedIn UserInfo4"
    },
    {
      "parameters": {
        "url": "={{ $('Smart Content Router').item.json.url }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        560
      ],
      "id": "a5af9f1e-e9cf-4f2b-a596-7a25bb9f7653",
      "name": "Download Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        560
      ],
      "id": "a1a0db1c-3146-402e-ae1e-9e30f438814f",
      "name": "Upload Video File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $('Get LinkedIn UserInfo3').item.json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Now this is how we automate the Video posting\"\n            },\n            \"shareMediaCategory\": \"VIDEO\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Center stage!\"\n                    },\n                    \"media\": \"{{ $('Register Video Upload').item.json.value.asset }}\",\n                    \"title\": {\n                        \"text\": \"I don't know where this text come\"\n                    }\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        560
      ],
      "id": "4a278ce7-2c51-4f12-ac02-aeb0050eaf6b",
      "name": "Linkedin Video Post"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        384,
        -16
      ],
      "id": "09152212-ef1a-400f-a6f0-65b202fe2d9c",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Configure Post Settings": {
      "main": [
        [
          {
            "node": "Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Content Router": {
      "main": [
        [
          {
            "node": "Get LinkedIn UserInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LinkedIn UserInfo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LinkedIn UserInfo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LinkedIn UserInfo4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LinkedIn UserInfo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Image Upload": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Video Upload": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image File": {
      "main": [
        [
          {
            "node": "Linkedin Image Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Image Post Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo": {
      "main": [
        [
          {
            "node": "Text Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text Post Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Upload Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo1": {
      "main": [
        [
          {
            "node": "Article Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airticle Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo2": {
      "main": [
        [
          {
            "node": "Article with Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo3": {
      "main": [
        [
          {
            "node": "Register Video Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn UserInfo4": {
      "main": [
        [
          {
            "node": "Register Image Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video File": {
      "main": [
        [
          {
            "node": "Linkedin Video Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7554c494529940c4340cf7385a6a9837e822037d3d45b7845a3aabb5730f5c3"
  }
}
