n8n.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "=You are a smart and friendly assistant for Facebook Page automation. Your job is to help reply to messages and comments.\n\nYour tone should be friendly and casual.\n\nRules:\n\n# Do not use \"*\" in output message\n\n1. When a user sends their first message (e.g., \"hi\", \"hello\"), greet them warmly.\n\n2. Reply naturally to user messages and questions.\n\n3. Keep responses concise and helpful.\n\n4. Be conversational and friendly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1008,
        416
      ],
      "id": "5a40607a-ac19-4120-b0f5-f83dcb8684d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1152,
        640
      ],
      "id": "8922182e-ebfe-48f6-b6ab-4325d12a9ef0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1024,
        640
      ],
      "id": "620e085a-6b24-40c3-9083-f2f3c28d7633",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "u7Lz2BQM9hHe1Sro",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "massenger",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        320
      ],
      "id": "128f896b-c3a2-4146-91c4-d5463af41c7c",
      "name": "Webhook",
      "webhookId": "b2acf254-b50f-4c0c-bed3-07dd7e8628d8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "verification-check",
              "leftValue": "={{ $json.query['hub.challenge'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        176
      ],
      "id": "4204db57-7d10-47f9-a8b2-78384bb2da10",
      "name": "Check If Verification"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -224,
        96
      ],
      "id": "2c59fbec-c475-45ca-bd07-13adb333c01a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.text }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "text-exists"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "image-check",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "audio-check",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "comment-check",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.item }}",
                    "rightValue": "=comment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        400
      ],
      "id": "d3899f23-a0ac-49b7-8bf2-71bbc3c07006",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://n8n-dashboard-mu.vercel.app/api/check-ai?userId={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        208
      ],
      "id": "9702f7d9-fcbf-4262-8c19-89a27b6546d5",
      "name": "Check AI Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ai-enabled-check",
              "leftValue": "={{ $json.ai_enabled }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        208
      ],
      "id": "2921b17a-f485-4fb6-953c-ed3f5be83934",
      "name": "If AI Enabled"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://facebook-messenger-orpin.vercel.app/api/message?userId={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"text\": $('Webhook').item.json.body.entry[0].messaging[0].message.text,\n  \"sender\": \"user\",\n  \"name\": \"Facebook User\",\n  \"phone\": \"\"\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        192
      ],
      "id": "37ee7764-fa2c-4c99-a9f9-0122e3572144",
      "name": "Store User Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-field",
              "name": "Text",
              "value": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        176
      ],
      "id": "fb5198f6-1bcb-41ae-92de-3e9cab4c7eb6",
      "name": "Prepare Text for AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://facebook-messenger-orpin.vercel.app/api/message?userId={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"text\": $json.output,\n  \"sender\": \"bot\",\n  \"name\": \"AI Assistant\",\n  \"phone\": \"\"\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        416
      ],
      "id": "8f8aaa4e-01fe-46c2-bd83-e417c022ea7c",
      "name": "Store Bot Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').item.json.body.entry[0].id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAZAvhoqnQqYBQOTbWf3VMZA78RYF0mnF8diJXkDtUVvOKh27VgyudY096sWBKliMa0ytNGVxhEJE1UAc6Venvw4X1C9oLZAlS6dNZBmyUqWDAVJVdX2pULTLlCCAhMGO3UEZAg6B65QMoEtIjLZAsYXZAQKFIEC2zWvKeXcalhU4AkZCO2R9xb5qKxYIulTFMbLMmp2aa6XwY6yIOBB2OxZAdvQN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  recipient: {\n    id: $('Webhook').item.json.body.entry[0].messaging[0].sender.id\n  },\n  messaging_type: \"RESPONSE\",\n  message: {\n    text: $('AI Agent').item.json.output\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        416
      ],
      "id": "9f8481bc-8cae-4677-af9c-9c5aaed31571",
      "name": "Send Message to Facebook"
    },
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        336
      ],
      "id": "30a825c2-6923-4c45-8c47-b45f97062675",
      "name": "Download Image"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        784,
        336
      ],
      "id": "88506156-847a-4dd4-90d6-38a2e67ef820",
      "name": "Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "u7Lz2BQM9hHe1Sro",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        784,
        528
      ],
      "id": "581b48c4-9934-4004-a51a-f5d389396b09",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "u7Lz2BQM9hHe1Sro",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "comment-filter",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "rightValue": "25111064955248317",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        848
      ],
      "id": "6c16ff77-1d2c-4ca8-a409-3776897d5cf0",
      "name": "Filter Own Comments"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=USER MESSAGE: {{ $json.body.entry[0].changes[0].value.message }}",
        "options": {
          "systemMessage": "=Make a friendly reply based on user comment. Not more than 50 words."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        848
      ],
      "id": "079068c3-1f4d-4d08-a49c-31108661a4ac",
      "name": "AI Comment Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').item.json.body.entry[0].changes[0].value.comment_id }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAZAvhoqnQqYBQOQYFOI590UWuHp9oTIRwKQW96DS0Y01uKzIttuZBft4tAWZB3QfurRntAKAXF3jmM9xZCZAlx9Luf0LSVwurFUIyp09Urr5WwPSJ84K6hcZApDT7d0AW1JeAclDDWSfI3yKLdXP6P4XtfyRxf9uMhtnRYr1YPailrEfhCk7CkNO6GecDZBR8mHeZAJFAiYA4XyZAtj8RCZCIutnXOshUPeyopmaZCSFJhxEpROkJPH8SJTjAZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        736
      ],
      "id": "7bfa2c57-88e7-45ff-aee7-4527ca41c72c",
      "name": "Reply to Comment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').item.json.body.entry[0].changes[0].value.comment_id }}/likes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAZAvhoqnQqYBQOQYFOI590UWuHp9oTIRwKQW96DS0Y01uKzIttuZBft4tAWZB3QfurRntAKAXF3jmM9xZCZAlx9Luf0LSVwurFUIyp09Urr5WwPSJ84K6hcZApDT7d0AW1JeAclDDWSfI3yKLdXP6P4XtfyRxf9uMhtnRYr1YPailrEfhCk7CkNO6GecDZBR8mHeZAJFAiYA4XyZAtj8RCZCIutnXOshUPeyopmaZCSFJhxEpROkJPH8SJTjAZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        928
      ],
      "id": "e5cd5f83-27c9-4e65-a5d1-28c838b7d5ff",
      "name": "Like Comment"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        1072
      ],
      "id": "900bbae3-0285-4e6b-8d6b-59c2e9b0aa49",
      "name": "Comment OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "u7Lz2BQM9hHe1Sro",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1808,
        416
      ],
      "id": "aec900ba-ab00-4000-ae6a-ea6d65a6cdf3",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "content": "## I'm a note \nhttps://youtu.be/cp7g_Zs-1ic?si=TwAgcXSuaGumTBuA",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -256
      ],
      "typeVersion": 1,
      "id": "4d9ac024-102a-4eaf-95d9-d1ba7d8e000d",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Store Bot Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check If Verification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Verification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Check AI Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter Own Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Status": {
      "main": [
        [
          {
            "node": "If AI Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If AI Enabled": {
      "main": [
        [
          {
            "node": "Store User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Message": {
      "main": [
        [
          {
            "node": "Prepare Text for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text for AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Bot Message": {
      "main": [
        [
          {
            "node": "Send Message to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message to Facebook": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Own Comments": {
      "main": [
        [
          {
            "node": "AI Comment Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Comment Agent": {
      "main": [
        [
          {
            "node": "Reply to Comment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Like Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Comment Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "e9449025ad91432bb3eb5945996e3f19e9888f6e71906f2925fc462d86638b74"
  }
}
