Unlimited Lead Collect & Send Email Using Findmyemail
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.findymail.com/api/intellimatch/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Your API KEY HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.text }}\",\n  \"limit\": 100,\n  \"config\": {\n    \"find_contact\": true,\n    \"find_email\": true,\n    \"target_job_titles\": [\n      \"CEO\",\n      \"CTO\"\n    ],\n    \"mode\": \"broad\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        416
      ],
      "id": "67b4619a-ac50-4494-9d32-4660ead6f7aa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://app.findymail.com/api/intellimatch/status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "={{ $json.hash }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Your API KEY HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1680,
        416
      ],
      "id": "52d78e9e-be8e-49e7-ba5f-c9b35905aba3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://app.findymail.com/api/intellimatch/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "={{ $('HTTP Request').item.json.hash }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Your API KEY HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        416
      ],
      "id": "63ca4f94-bb98-4dc1-a761-75edf7b4184f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company Name {{ $json.name }}\nCompany website {{ $json.domain }}\nindustry {{ $json.industry }}\nCountry {{ $json.country }}\n\n\nother info {{ $json.contact_name }} {{ $json.contact_first_name }}{{ $json.contact_last_name }}{{ $json.contact_job_title }}{{ $json.contact_linkedin_url }}{{ $json.contact_email }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional email outreach expert specialized in writing personalized, high-converting emails.\n\nThe user will provide data such as:\n- Industry or business type\n- Company name or prospect details\n- Their pain points or goals (if available)\n\nYour task:\n1. Create a personalized **email outreach message** for that industry or company.\n2. Write from the perspective of **Siam**, an **AI Automation Expert**.\n3. The goal of the email is to show how Siam can **save time**, **automate repetitive tasks**, and **increase efficiency** using AI automation for the business.\n4. Keep the tone professional but conversational.\n5. Include a clear **Call to Action (CTA)** to connect on WhatsApp or reply to the email.\n\nFormatting rules:\n- Output must be in **clean, responsive HTML format** (suitable for sending via email).\n- Use short paragraphs and spacing for readability.\n- Include basic inline styling (e.g., padding, background color, font-family, etc.)\n- End with a signature section including:\n  - Name: **Siam**\n  - Title: **AI Automation Expert**\n  - WhatsApp CTA: **+8801568148009**\n  - Optional Email/Reply prompt.\n\nAlways output only valid HTML "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2928,
        432
      ],
      "id": "965392e7-b449-4963-8df1-47c68e4cf125",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        3072,
        656
      ],
      "id": "fea4c24d-18a9-4d0c-be6c-cf59ff73221b",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2816,
        640
      ],
      "id": "451cb1b7-573c-438f-879e-379ae5ef0327",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Subject\": \"here will be email subjects\",\n  \"Body\": \"Here will be main email\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3184,
        816
      ],
      "id": "8bc1b482-b4da-492a-9e81-699f071dbb73",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a random industry name location & employee mention \n\nexample \" SaaS companies in US with 50-200 employees\" ",
        "messages": {
          "messageValues": [
            {
              "message": "Output example \" SaaS companies in US with 50-200 employees\"  only one result not more than 10 word"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        896,
        416
      ],
      "id": "be012b4c-243e-4bdf-aefd-48136550ad02",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "return $json.data.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        416
      ],
      "id": "e2dba6ce-bc40-4248-a1ee-32344bf36d65",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2448,
        416
      ],
      "id": "db8221a2-1a6c-4c0c-a703-ceb73a9b353d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.contact_email }}",
        "subject": "={{ $json.output.Subject }}",
        "message": "={{ $json.output.Body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3280,
        432
      ],
      "id": "918e8521-5a21-4209-839a-6e17f05ad822",
      "name": "Send a message",
      "webhookId": "4ab24337-f0d1-41c6-b63d-0fab58e42048",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        592,
        416
      ],
      "id": "f885d78c-ad0c-4ffb-b9ce-ed8b750bbbc6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        608
      ],
      "id": "fd64292e-bed2-4594-9024-49cde4300cb0",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1472,
        416
      ],
      "id": "8f0090b8-556d-41c5-8ff3-f38db62487ad",
      "name": "Wait",
      "webhookId": "c84fa367-0586-48b2-acf0-43b37df49db5"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2688,
        432
      ],
      "id": "a2ef0c04-6bc3-4e7f-b40c-0c6964531d33",
      "name": "Wait1",
      "webhookId": "24eebb28-0e40-4f7c-af1c-92291890fb6b"
    },
    {
      "parameters": {
        "content": "## Here The Details Video Guide\n**Double click** to edit me. [Guide](https://youtu.be/AjEPN6AbVmU?si=puG4lJOOQogAkUkz)\n\n@[youtube](AjEPN6AbVmU)",
        "height": 480,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        656
      ],
      "typeVersion": 1,
      "id": "86e9f117-a1c9-449f-9a42-c573332c0410",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7554c494529940c4340cf7385a6a9837e822037d3d45b7845a3aabb5730f5c3"
  }
}
